<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresentationWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div>
                <div class="d-flex justify-content-around" style="background-color:whitesmoke">
                    <div class="d-flex justify-content-center p-3">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="width:200px">ShoppingCartWebsite</a>
                    </div>
                    <div class="d-flex justify-content-center" style="width:100%">
                        @await Html.PartialAsync("SearchPartial")
                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <partial name="_LoginPartial" />
                    </div>

                </div>
                <div class="d-flex justify-content-around">

                    <div class="collapse d-sm-flex flex-sm-row-reverse" style="width:100%;">

                        <ul class="navbar-nav flex-grow-1 justify-content-start">
                            <li class="nav-item p-2">
                                    <a class="nav-link text-dark dropbtn" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>

                            <li class="nav-item p-2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Support" asp-action="Contact">Contact Us</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </nav>
    </header>
   <style>
       .nav-item{
           width:100%;
       }
       .nav-link{
           text-align:center;
       }
   </style>

    <div class="container">
        <main role="main" class="pb-3">

            @if (TempData["feedback"] != null)
            {
<div class="alert alert-primary" role="alert">
    @TempData["feedback"]
</div>            }

            @if (TempData["warning"] != null)
            {
<div class="alert alert-warning" role="alert">
    @TempData["warning"]
</div>            }


            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PresentationWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
